/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/



@font-face {
    font-family: 'oswaldbold';
    src: url('fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('fonts/oswald-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldbolditalic';
    src: url('fonts/oswald-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/oswald-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswalddemibold';
    src: url('fonts/oswald-demibold-webfont.woff2') format('woff2'),
         url('fonts/oswald-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswalddemi-bold';
    src: url('fonts/fontsoswald-demi-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/fontsoswald-demi-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldheavy';
    src: url('fonts/oswald-heavy-webfont.woff2') format('woff2'),
         url('fonts/oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldheavy';
    src: url('fonts/oswald-heavyitalic-webfont.woff2') format('woff2'),
         url('fonts/oswald-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-light-webfont.woff2') format('woff2'),
         url('fonts/oswald-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/oswald-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald-medium-webfont.woff2') format('woff2'),
         url('fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/oswald-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('fonts/oswald-regularitalic-webfont.woff2') format('woff2'),
         url('fonts/oswald-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'metropolisregular';
    src: url('fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* css */

@font-face {
  font-family: m-regular;
  src: url(fonts/Metropolis-Regular.otf);
}
@font-face {
  font-family: m-medium;
  src: url(fonts/Metropolis-Medium.otf);
}
@font-face {
  font-family: o-regular;
  src: url(fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: o-medium;
  src: url(fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: o-semibold;
  src: url(fonts/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: o-bold;
  src: url(fonts/Oswald-Bold.ttf);
}

body {
 font-family: m-medium;
}

#what-we-do {
  padding-top: 40px;
}

#what-we-do h1,.main-content-part h1 {
  font-size: 46.6px;
  font-family: o-medium;
  margin-bottom: 20px;
}

#what-we-do p,.main-content-part p {
  font-size: 20.6px;
  font-family: m-regular;
}

#what-we-do a {
  font-size: 20.6px;
  font-family: m-regular;
  color: white;
}

.i-banking {
  background: url(images/what_we_do_img01.png) no-repeat;
  background-size: cover;
  height: 370px;
  margin: 0 auto;
  position: relative;
  width: 254px;
  transition: 0.4s all;
}

.a-services {
  background: url(images/what_we_do_img02.png) no-repeat;
  background-size: cover;
  height: 370px;
  margin: 0 auto;
  position: relative;
  width: 254px;
  transition: 0.4s all;
}

.i-banking h2,.a-services h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#recent-transaction {
  padding-top: 40px;
}

#recent-transaction h1 {
  font-size: 46.6px;
  font-family: o-medium;
}

#recent-transaction .transaction-container {
  padding: 30px 0;
  box-shadow: -1px 2px 12px 5px rgba(224, 224, 224, 1);
  background: #fafbfc;
}

#recent-transaction .transaction-container .record {
  border-right: 6px solid #eff1f3;
  padding: 0 25px;
}

.record .img-container {
  height: 300px;
  align-items: center;
  display: flex;
}

.record .transaction-date h2 {
  font-family: o-regular;
}

.record .transaction-date h5 {
  font-family: m-medium;
}

#information {
  padding-top: 40px;
}

#information .heading {
  margin-bottom: 30px;
}

#information h1 {
  font-size: 46.6px;
  font-family: o-medium;
}

#information .currency {
  font-family: o-bold;
  font-size: 16px;
}

.large {
  font-size: 20px;
  margin-bottom: 0;
  font-family: o-regular;
}
.small {
  font-size: 14px;
  margin-bottom: 0;
  font-family: o-regular;
}

.value {
  font-size: 24px;
  line-height: 0.9;
  font-family: m-medium;
}

.positive {
  color: #5edaa7;
}

.negative {
  color: #ff5b37;
}

.primary-btn,
.primary-btn:focus {
  background: #13324f;
  color: #ffffff;
  font-size: 17px;
  height: 40px;
  transition: 0.4s all;
  outline: none;
  box-shadow: none;
}
.btn.sm {
  width: 110px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .primary-btn:hover {
    background: #ffffff;
    color: #13324f;
    border: 2px solid #13324f;
    transition: 0.4s all;
  }
  #what-we-do a:hover .i-banking,
  #what-we-do a:hover .a-services {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.4s all;
  }
 
}

@media screen and (min-width: 992px) {
  #what-we-do p {
    padding-right: 50px;
  }
}

@media screen and (max-width: 991px) {
	.no-border {
		border: none !important;
	}
}

/* / Media Queries */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}
a:hover{text-decoration:none !important;}

.footer-part{
	background-color:#13314e;
}
.footer-content1 h1,.footer-content2 h1{
	 font-family: 'oswald_regularregular';
}

.footer-bg{background-color:#fff;padding:15px 15px;}
.cright-part2{text-align:right;font-family: 'oswald_regularregular';font-size:14px;}
.footer-part .container{padding: 50px 0;}
.subscriber-form{padding:10px 10px;}
.subscriber-form input{border:none;border-bottom:2px solid #000 !important;margin-bottom:10px;}
.email-text{width:100%;}
.fname,.lname{width:48%;float:left;}
.fname input,.lname input,.companyname input{width:100%;}
.fname{margin-right:14px;}
.submit{margin-top:20px;margin-bottom:0px !important;}
.companyname{width:58%;float:left;margin-right:15px;}
.country{width:38%;float:left;}
.submit input{cursor:pointer;width:185px;text-align:center;border:none !important;background-color:#13314e;color:#fff;    border-radius: 4px;padding: 6px 0;}
.footer-content2 h1{color:#fff;margin-left:15px;}
#copyright{background-color:#01010a;    padding: 25px;color:#fff;}
.cright-part1{ font-family: 'oswald_regularregular';}
.cright-part1 a{color:#7abfff;}
.cright-part2 p{font-family: 'oswald_regularregular';}
.footer-content2{padding-left:90px !important;}
.country-subpart{float:left;width:30.33%;text-align:center;}
.country-subpart p{margin-bottom:0px;}
input[type=radio]{display:block;margin:auto !important;}
.header-container{ padding: 29px 3%;}
.header-part1 a{display:inline-block;margin-right:50px;margin-top:25px;}
.header-part3 p{font-size:13px;margin-bottom:0px;font-family: 'metropolisregular';}
.header-part3 h1{font-size:20px;margin-top:0px;font-family: 'metropolismedium';}
.header-part3{margin-top:13px;}
.header-part3 span{color:#57d9a3;}
.header-part3  .subscribe-btn{width: 120px;
    background-color: #13314e;
    display: block;
    padding: 11px 0px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
	float: right;
	margin-top:10px;
	font-family: 'metropolisregular';
}

.header-subpart3{float:left;/*margin-right:14px; */}
.banner-img{
	background-image:url('images/slider_img.png');
	background-size:cover;
	width:100%;
	min-height:936px;
}
.navigation{padding: 20px 35px 20px 35px;text-align: right;}
.menu li{float: right;margin-left: 10px;font-size:20px; font-family: 'oswalddemibold';}
.menu li a{color:#fff;}
.menu li:after{content:"|";color: #fff;padding-left: 10px;}
.menu li:first-child:after{display:none;}
.banner-text{font-size:86px; font-family: 'oswalddemibold';text-align:center;margin-top:300px;color:#fff;margin-bottom:0px;}
#who-we-are{background-color:#13314e;padding:60px 0;}
.main-content-part{color:#fff;}

.main-content-part .primary-btn,.footer-content2 .primary-btn{
    background: #ffffff;
    color: #13324f;
    border: 2px solid #13324f;
    transition: 0.4s all;
}

.main-content-part .primary-btn:hover,.footer-content2 .primary-btn:hover{
    background: #13324f;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: 0.4s all;
}

.footer-content2 .primary-btn{margin-left:15px;}
.main-content-part2{text-align:center;}
.main-content-part2 h1{
	text-align:center;
	color:#fff;
	 font-family: o-bold;
	 font-size:80px;
}

.main-content-part2 p{
	text-align:center;
	color:#fff;
	 font-family: o-medium;
	 font-size:20px;
}

.main-content-part2 img{display:block;margin: 0 auto 20px auto;height: auto;}
.footer-content2 span{font-size: 16.6px;font-family: m-regular;color:#fff;}
.footer-content2 h2{ font-family: 'oswald_regularregular';font-size:15px;color:#fff;}
.readmore{font-family: 'oswald_regularregular' !important;}
.footer-content2 .col-sm-12{margin-bottom:20px;}
.menu li a:hover{color:#7bbfff;}
.subscribe{margin-top:10px;}
input:focus{outline:none;}
input[type="radio"]{cursor:pointer;}


@media screen and (max-width: 992px) {
	.footer-content2{padding-left:0px !important;margin-top:20px;}
	.banner-text{font-size:4em;}
	.main-content-part2 img{width:auto;}
	.main-content-part2 h1{font-size:50px;}
	.header-part1,.header-part2{text-align:center;}
	.header-subpart3{float:none;text-align:center;}
	.subscribe-btn{float:none !important;margin:auto;}
	.subscribe{display: block !important;margin: auto;}
}

@media screen and (max-width: 568px) {
	.menu li{float: none;text-align: center;margin-bottom: 13px;margin-left: 0px;}
	.menu li:after{content:"";}
	.fname, .lname,.companyname{width:100%;}
	.country {width: 100%;}
}

@media screen and (max-width: 1248px) {
	.header-part3 .subscribe-btn{float:left;}
	/*.search-icon{margin-right:0px !important;} */
}

@media screen and (max-width: 768px) {
	.banner-text {font-size: 40px !important;}
	.header-subpart3{margin-top:20px;}
	.header-part2 img{margin-top:40px;}
	.cright-part1,.cright-part2{text-align:center;}
	.nav-bar{float:left;}
	.search-icon{float:right;}
	.search-icon{margin-right:0px !important;}
	#recent-transaction .transaction-container .record{border-right: none !important;
    border-bottom: 6px solid #eff1f3 !important;    padding: 25px 25px;}
	#recent-transaction .transaction-container .record:last-child{ border-bottom:none !important;}
}

@media screen and (max-width: 992px) and (min-width:769px) {
	.fname, .lname,.companyname{width:100%;}
	.country {width: 100%;}
}

@media screen and (max-width: 400px) {
	.main-content-part2 img{width:100%;}
}

@media screen and (min-width: 1350px) {
	.header-subpart3{margin-right:14px; }
}
.heading p{display:inline-block;}